
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 95%);
}

.container {
    text-align: center;
    font-size: 0;
    align-items: center!important;
    justify-content: center!important;
    flex-direction: column!important;
    min-height: 100vh!important;
    display: flex!important;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    color: hsl(0, 0%, 95%);
    margin: 30px auto 30px auto;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.desc {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: normal;
    line-height: 1.5rem;
    font-size: 0.9rem;
    width: 92%;
}

a {
    text-decoration: none;
}

.btn {
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    border: solid 2px hsl(0, 0%, 95%);
    border-radius: 50px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.9rem;
    padding: 15px 30px;
    margin: 87px auto 87px auto;
    display: inline-block;
    transition: 0.3s;
}

.btn-1 {
    color: hsl(31, 77%, 52%);
}

.btn-2 {
    color: hsl(184, 100%, 22%);
}

.btn-3 {
    color: hsl(179, 100%, 13%);
}

.btn:hover {
    color: #fff;
    background: transparent;
    border-color: hsl(0, 0%, 95%);
    transition: 0.3s;
}

.first-container {
    background-color: hsl(31, 77%, 52%);
    display: inline-block;
    width: 220px;
    height: 400px;
    text-align: left;
    padding: 48px;
    border-radius: 10px 0px 0px 10px;
}

.second-container {
    background-color: hsl(184, 100%, 22%);
    display: inline-block;
    width: 220px;
    height: 400px;
    text-align: left;
    padding: 48px;
}

.third-container {
    background-color: hsl(179, 100%, 13%);
    display: inline-block;
    width: 220px;
    height: 400px;
    text-align: left;
    padding: 48px;
    border-radius: 0 10px 10px 0px;
}

@media only screen and (max-width: 947px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .first-container {
        border-radius: 10px 10px 0px 0px;
    }

    .third-container {
        border-radius: 0 0 10px 10px;
    }
}

.attribution {
    margin-top: 20px;
    font-family: 'Lexend Deca', sans-serif;
}

@media only screen and (max-width: 631px) {
    .credits {
        width: 75%;
        margin: auto;
    }
}

.credits {
    color: black;
    font-size: 16px;
}

.links {
    color: rgb(4, 196, 52);
}